.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 350px;

  .img-box {
    height: 200px;
    width: 200px;
    border: 1px solid red;
  }

  .counter {
    display: flex;

    .increase,
    .decrease {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
