.card {
  display: flex;
  flex-direction: column;

  img {
    border: 1px solid red;
  }

  .counter {
    display: flex;

    .increase,
    .decrease {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
