.cart {
  position: absolute;
  top: 50px;
  right: 0;
  width: 400px;
  min-height: calc(100vh - 50px);
  background-color: rgb(245, 245, 245);
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px 0;

  button {
    padding: 3px;
    border-radius: 3px;
  }

  img.item-icon {
    border: 1.5px solid black;
  }

  & > *:not(:last-child) {
    margin-bottom: 10px;
  }

  .banner {
    padding: 5px;
    font-weight: 700;
    font-size: 1.25rem;
  }

  .card {
    padding: 2px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > *:not(:last-child) {
      margin-bottom: 5px;
    }

    .cart-item-name {
      font-weight: 600;
    }

    .counter {
      width: 55px;
      .value {
        background-color: rgb(153, 231, 37);
      }
    }
  }
}
