.cart {
  position: absolute;
  top: 50px;
  right: 0;
  width: 400px;
  min-height: calc(100vh - 50px);
  background-color: greenyellow;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px 0;

  & > *:not(:last-child) {
    margin-bottom: 10px;
  }

  .banner {
    border: 2px solid red;
    padding: 5px;
  }

  .card {
    padding: 2px;
    border: 2px dotted green;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > *:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
