.home-page {
  background-color: rgb(163, 160, 160);
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 500;
  min-height: calc(100vh - 50px);
  background-image: url("../assets/pics/home-page/central-yharnam.jpg");
  background-size: 100% 100%;

  section {
    padding-top: 10%;
    padding-left: 30%;

    p {
      margin-bottom: 10px;
      letter-spacing: 1px;
    }
  }
}
