.shop-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(181, 178, 197);
  min-height: calc(100vh - 50px);
  padding: 50px 0;

  // background-image: url("../assets/pics/home-page/tomb-way.jpg");
  background-image: url("../assets/pics/home-page/hunter-workshop.jpeg");
  // background-size: 100% 100%;

  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: repeat(5, 390px);
    gap: 15px;
    border: 5px solid green;

    .card {
      border: 2px solid red;
    }
  }
}
